.catalog {
    &-item-wrapper {
        display: flex;
        flex: 1 1 400px;
        margin: 15px;
    }
    &-item {
        width: 100%;

        &-img {
            width: 64px;
            margin-bottom: inherit;
        }
    }
}